body {
  text-align: center;
  padding: 50px;
  font: 20px Helvetica, sans-serif;
  color: #333;
  background-color: #357e9f;
}

h1 {
  font-size: 36px;
}

.main {
  display: block;
  text-align: left;
  width: auto;
  margin: 0 auto;
}

.reset {
  background: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 50%;
  border: 3px solid;
  padding: 3px;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 140px 140px 140px;
  padding-left: 39%;
}

.status {
  font-size: xx-large;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-left: 45%;
  padding-bottom: 15px;
  margin-top: 10px;
}
