$mobile: 320px;
$mediummobile: 375px;
$largemobile: 425px;

body {
  text-align: center;
  padding: 50px;
  font: 20px Helvetica, sans-serif;
  color: #333;
  background-color: #121211;

  @media screen and (min-width: $mobile) and (max-width: $largemobile) {
    padding: 10px;
  }
}

h1 {
  font-size: 36px;

  @media screen and (min-width: $mobile) and (max-width: $largemobile) {
    font-size: 16px;
  }
}

.main {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  height: 50%;
}

.reset {
  background: none;
  font: inherit;
  cursor: pointer;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: 3px solid;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  flex: 1;

  @media screen and (min-width: $mobile) and (max-width: $largemobile) {
    width: 100%;
  }
}
.status {
  font-size: xx-large;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding-bottom: 15px;
}
